@import '../../../styles/variables';

:host {
  @include md-elevation(1);

  display: flex;
  flex: 2 1 auto;
  flex-direction: column;
  box-sizing: border-box;
  margin: unit();
  min-width: unit(14);
  background-color: $bg-color;
}

.title {
  padding: unit(.5);
  background-color: md-color($primary, 50);
  color: md-color($primary, 600);
  font-size: $font-sm;
}

.content {
  padding: unit();

  & > * {
    margin-bottom: unit();
  }
}
