@import '../../../../styles/variables';

body {
  padding-top: 50px;
  padding-left: 100px;
}

#chartArea {
  background-color: #fff;
}

.title {
  font-size: $font-sm;

  padding: unit(.5);

  color: md-color($primary, 600);
  background-color: md-color($primary, 50);
}
