@import "../values";

$cl-svg-bg: #EEE;
$cl-svg-dark: #999;
$cl-svg-light: #DDD;

:host /deep/ {

  // SVG //
  svg {

    .bg {
      fill: $cl-white;
    }

    text {
      user-select: none;
      cursor: default;
    }

    .brush {
      .extent {
        stroke: #fff;
        fill: #333;
        fill-opacity: 0.1;
        shape-rendering: crispEdges;
      }
    }

    .axis {
      path {
        display: none;
        fill: none;
        stroke: $cl-svg-dark;
        shape-rendering: crispEdges;
      }
      line {
        stroke: $cl-svg-dark;
        shape-rendering: crispEdges;
      }
      &.y, &.x {
        line {
          stroke: $cl-svg-light;
          stroke-dasharray: 4,2;
        }
        text {
          fill: $cl-svg-dark;
          text-anchor: end;
          font-size: 14px;
        }
      }
    }
  }
}
