// style copy from materialize but add usage of 'span' instead of 'a'
.fixed-action-btn {
    ul {
        span.btn-floating {
          opacity: 0;
        }
      }
}

// own styling
.fixed-action-btn {
    > span.btn-floating {
        background-color: color('red', 'base');
    }
    > ul {
        span.export-clipboard-link-fab {
            background-color: color('red', 'base')
        }
        span.export-clipboard-signature-fab {
            background-color: color('yellow', 'darken-1')
        }
        span.export-pdf {
            background-color: color('green', 'base')
        }
        span.modal-open-btn {
            background-color: color('blue', 'base')
        }
    }

}

div #modal-exporter {
    // background-color: green;

    // clicking *directly* on the a download link makes the router(?) go nuts. make sure we always click the i
    // so to recapitulate, changing the padding fixes the underlying issue. the padding in itself is ok
    a.paddingfix {
        padding: 0px;
        i {
            width: 100%;
        }
    }

    div.modal-footer {
        > button.export-close{
            background-color: color('blue-grey', 'base')
        }
    }
}