<div #topCompList id="list">
    <div class = "container" *ngFor="let group of data; let groupIndex = index">
      <div class="header {{group.type}}">
        {{group.title}}
      </div>
      <div class="row" *ngFor="let model of group.model; let modelIndex = index"
        on-click="handleOpenDialog"
        [attr.data-id]="modelIndex"
        [attr.data-groupid]="groupIndex">

        <!-- Bar and Zhang Score -->
        <div class="zhang" [style.background-color]="getColorValue(model.zhang)">
          <span class="full block hint--top" [attr.data-hint]="getRoundValue(model.zhang)"></span>
        </div>

        <!-- Text Info -->
        <div class="txt">
          <div class="uppercase txt-big">
            <span class="hint--top" data-hint="PlateWell ID">
              <span class="ellipsis info">{{model.plateid}}</span>
            </span>
            <span class="divider"> | </span>
            <span class="hint--top" data-hint="Type">
              <span class="ellipsis info">{{model.Type}}</span>
            </span>
          </div>
          <div class="uppercase txt-big">
            <span *ngIf="model.jnjs" class="hint--top" data-hint="JNJS">
                <span class="ellipsis info">{{model.jnjs}}</span>
            </span>
            <span *ngIf="model.jnjb" class="hint--top" data-hint="JNJB">
              <span class="divider"> | </span>
              <span class="ellipsis info">{{model.jnjb}}</span>
            </span>
          </div>
          <div class="txt-small">
            <span class="block hint--top" data-hint="Compound Name">
              <span class="ellipsis info capitalize">{{model.compoundname}}</span>
            </span>
          </div>
          <div class="txt-small block">
            <span *ngIf="model.targets" class="hint--top" data-hint="Target(s)">
              <span class="ellipsis info">{{model.targets}}</span>
            </span>
          </div>
        </div>

        <!-- Image -->
        <div class="img">
          <div *ngIf="model.smiles && model.smiles !== 'NA'">
            <img src="http://placekitten.com/160/104" alt="kitten">
          </div>
        </div>

      </div>
    </div>
</div>
