@import '../../../styles/variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-toolbar {
  flex: 0 0 auto;
}

.content {
  flex: 1 1 auto;
  overflow: auto;
  padding: unit();
}

.wrapper {
  margin: auto;
  max-width: unit(40);
}

md-card {
  margin: unit();
  background-color: $bg-color;
}

label {
  margin-top: unit(.5);
}

.slider {
  display: flex;
  align-items: center;

  span {
    display: block;
    width: unit(1.5);
    text-align: right;
  }
}

md-slider {
  flex: 1 0 auto;
}

md-input {
  margin-bottom: unit(1.5);
  width: 100%;

  &.ng-valid[required] md-hint {
    display: none;
  }

  &.ng-invalid md-hint {
    color: md-color($warn);
  }
}

button {
  margin: 0 unit();
}
