:host {
  display: flex;
  flex-direction: column;

  height: 100%;
}

app-toolbar {
  flex: 0 0 auto;
}

.content {
  flex: 1 1 auto;
  overflow: auto;

  padding: 16px;

  background-color: lightgrey;
}
