<app-toolbar type="settings"></app-toolbar>
<div class="content">
  <div class="wrapper">
    <form [formGroup]="settingsForm" (submit)="onSubmit()">

      <md-card>
        <md-card-subtitle>
          Visualization
        </md-card-subtitle>
        <md-card-content>
          <label>Plot Noise:</label>
          <div class="slider">
            <md-slider min="0" max="20" formControlName="plotNoise"></md-slider>
            <span>{{settingsForm.value.plotNoise}}</span>
          </div>

          <label>Hist2D Bins:</label>
          <div class="slider">
            <md-slider min="8" max="80"
                       formControlName="hist2dBins"></md-slider>
            <span>{{settingsForm.value.hist2dBins}}</span>
          </div>

          <label>Hist2D Noise:</label>
          <div class="slider">
            <md-slider min="0" max="20"
                       formControlName="hist2dNoise"></md-slider>
            <span>{{settingsForm.value.hist2dNoise}}</span>
          </div>

          <label>Histogram Bins:</label>
          <div class="slider">
            <md-slider min="8" max="40"
                       formControlName="histogramBins"></md-slider>
            <span>{{settingsForm.value.histogramBins}}</span>
          </div>

          <label>Top Comps:</label>
          <div class="slider">
            <md-slider min="5" max="50" formControlName="topComps"></md-slider>
            <span>{{settingsForm.value.topComps}}</span>
          </div>

        </md-card-content>
      </md-card>

      <md-card>
        <md-card-subtitle>
          Server
        </md-card-subtitle>
        <md-card-content>
          <md-input placeholder="URL"
                    formControlName="serverURL" required>
            <md-hint>Server URL is required</md-hint>
          </md-input>

          <md-input placeholder="Query String"
                    formControlName="queryStr" required>
            <md-hint>Query String is required</md-hint>
          </md-input>

          <md-input placeholder="Class Path"
                    formControlName="classPath" required>
            <md-hint>Class Path is required</md-hint>
          </md-input>

          <md-input placeholder="Sourire URL"
                    formControlName="sourireURL" required>
            <md-hint>Sourire URL is required</md-hint>
          </md-input>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-content>
          <md-card-subtitle>
            Misc
          </md-card-subtitle>
          <md-slide-toggle formControlName="hiddenComps">
            Hide Compounds
          </md-slide-toggle>
        </md-card-content>
      </md-card>

      <button md-raised-button
              color="primary" type="submit"
              [disabled]="!settingsForm.valid">
        Save
      </button>

    </form>
  </div>
</div>
