@import '../../../../styles/variables';

$cl-svg-dark: #999;
$cl-svg-light: #ddd;

:host {
  &::shadow svg {
    rect {
      shape-rendering: crispEdges;
    }

    rect.bar {
      stroke: #777;
      stroke-width: 2;
      stroke-opacity: .3;
      opacity: .7;

      &.hover {
        stroke-opacity: .6;
        opacity: .8;
      }

      &.selected {
        stroke-opacity: .8;
        opacity: 1;
      }
    }

    rect.genebar {
      pointer-events: none;

      fill: rgba(0, 0, 0, .5);
      stroke: rgba(0, 0, 0, .2);
      stroke-width: 2;
    }
  }

  .title {
    font-size: $font-sm;

    padding: unit(.5);

    color: md-color($primary, 600);
    background-color: md-color($primary, 50);
  }

  // SVG //
  svg {
    .bg {
      fill: #fefefe;
    }

    text {
      user-select: none;
      cursor: default;
    }

    .brush {
      .extent {
        stroke: #fff;
        fill: #333;
        fill-opacity: .1;
        shape-rendering: crispEdges;
      }
    }

    .axis {
      path {
        display: none;
        fill: none;
        stroke: $cl-svg-dark;
        shape-rendering: crispEdges;
      }

      line {
        stroke: $cl-svg-dark;
        shape-rendering: crispEdges;
      }

      &.y,
      &.x {
        line {
          stroke: $cl-svg-light;
          stroke-dasharray: 4, 2;
        }

        text {
          fill: $cl-svg-dark;
          text-anchor: end;
          font-size: 14px;
        }
      }
    }
  }
}
