@import 'variables';
@import 'theme';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $primary-text-color;
  background-color: $body-bg-color;
}

p {
  margin: 16px;
}

// COMPONENTS //

md-slide-toggle {
  .md-slide-toggle-content {
    // FIXME: Remove when md-slide-toggle is properly styled
    font-weight: normal !important;

    color: $primary-text-color;
  }
}
