<app-toolbar type="compound"></app-toolbar>
<div class="comp">
  <app-filter></app-filter>
    <div class="myclass">
      <button md-raised-button
              color="primary" (click)="fetchData('compounds')">
              Update Compounds
      </button>
      <button md-raised-button
              color="primary" (click)="fetchData('signature')">
              Update Signature
      </button>
    </div>
    <app-plot [compound]="compoundFetched" [signature]="signatureFetched"></app-plot>
    <app-histogram [compound]="compoundFetched" [signature]="signatureFetched"></app-histogram>
</div>
