@import '../../../styles/variables';

:host {
  display: flex;
  flex-direction: column;

  height: 100%;
}

app-toolbar {
  flex: 0 0 auto;
}

.content {
  flex: 1 1 auto;
  display: flex;
  overflow: auto;
  align-items: flex-start;

  & > *:first-child {
    margin-right: 0;
  }
}

.comp {
  @include md-elevation(1);

  flex: 6 1 auto;

  margin: unit();
  padding: unit();

  background-color: $bg-color;
}
