@import '../../../styles/variables';

:host {
  display: flex;
  flex-direction: column;

  height: 100%;
}

app-toolbar {
  flex: 0 0 auto;
}

.content {
  flex: 1 1 auto;
  display: flex;
  overflow: auto;
  align-items: flex-start;
  flex-direction: column;

  & > *:first-child {
    margin-right: 0;
  }
}

.comp {
  @include md-elevation(1);

  flex: 0 1 auto;

  margin: unit();
  padding: unit();

  background-color: $bg-color;
}

.myclass {
  flex: 1 2;
  flex-shrink: 1;
  flex-grow: 1;
  padding: unit(1);

  & > *:first-child {
    margin-right: 0;
  }
}
