$color-text: black;

$colors-WF: (
    compound: 'orange',
    genetic: 'red',
    ligand: 'purple',
    disease: 'pink',
    target: 'red',
    correlation: 'blue',
    generic: 'green',
    settings: 'grey',
);
