$color-text: black;
$color-footer-text: color('grey', 'base');
$color-header-background: color('grey', 'darken-4');
$color-footer-background: color('grey', 'darken-4');

$colors-WF: (
    compound: 'orange',
    genetic: 'red',
    ligand: 'purple',
    disease: 'pink',
    target: 'red',
    correlation: 'blue',
    generic: 'green',
    settings: 'grey',
);
