/* Colors for workflows, to be overriden when printed */

html {
    font-family: 'Roboto';
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1 0 auto;
}

@import 'materialize-css/sass/components/color-variables';
@import 'materialize-css/sass/components/color-classes';
.genetic {
    @extend .red;
    @extend .lighten-5;
}

.compound {
    @extend .orange;
    @extend .lighten-5;
}

.disease {
    @extend .pink;
    @extend .lighten-5;
}

.target {
    @extend .red;
    @extend .lighten-5;
}

.correlation {
    @extend .blue;
    @extend .lighten-5;
}

/* Contain treatment type images within the alotted width of its column */
img.trt_img {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}


/* home svg styling and hover */

a:hover #border {
    fill: white;
    fill-opacity: 0.5;
}

@media print {
    @page {
        margin: 40pt 0pt 40pt 0pt
    }
    /* no background color for printing */
    .compound,
    .disease,
    .genetic,
    .target {
        background-color: white !important
    }
    /* Don't print header and footer */
    header,
    footer {
        display: none !important;
    }
    /* ul and page class to avoid splitting up blocks that belong together */
    li {
        page-break-inside: avoid;
    }
    ul {
        page-break-before: avoid;
    }
    .pagebreak {
        page-break-after: always
    }
    /* Recuce font size for printing */
    div,
    p,
    a,
    span {
        font-size: 9pt
    }
}
