// body {
//     display: flex;
//     min-height: 100vh;
//     flex-direction: column;
// }

/* Colors for workflows, to be overriden when printed */
@import '../../node_modules/materialize-css/sass/components/color';

.compound {
    @extend .orange;
    @extend .lighten-5;

}

.disease {
    @extend .pink;
    @extend .lighten-5;
}

.target {
    @extend .red;
    @extend .lighten-5;
}

@media print { 

    @page { margin: 40pt 0pt 40pt 0pt }

    /* no background color for printing */
    .compound, .disease, .target {
        background-color: white !important
    }

    /* Don't print header and footer */
    header, footer { display: none !important; }

    /* ul and page class to avoid splitting up blocks that belong together */
    li {
        page-break-inside: avoid;
    }
    ul
    {
        page-break-before: avoid;
    }
    .pagebreak {
        page-break-after: always
    }
    /* Recuce font size for printing */
    div, p, a, span {
        font-size: 9pt
    }

}