// body {
//     display: flex;
//     min-height: 100vh;
//     flex-direction: column;
// }

/* Colors for workflows, to be overriden when printed */
@import '../../node_modules/materialize-css/sass/components/color';

.compound {
    @extend .orange;
    @extend .lighten-5;

}

.disease {
    @extend .pink;
    @extend .lighten-5;
}

.target {
    @extend .red;
    @extend .lighten-5;
}

@media print { 

 @page { margin: 20pt 0pt 20pt 0pt }

 /* no background color for printing */
 .compound, .disease, .target {
     background-color: white !important
 }

 /* Don't print header and footer */
 header, footer { display: none !important; }

 /* li and page class to avoid splitting up blocks that belong together */
 li, div.page
      {
        page-break-after: always;
        page-break-inside: avoid;
      }

 /* Recuce font size for printing */
 div, p, a, span {
     font-size: 9pt
 }

}