@import "../graph-base/graph-base";

$cl-word-bg: lighten($cl-svg-orange, 8%);

:host {
  background-color: $cl-grey-100;
  overflow-y: auto;

  .header {
    align-items: center;

    height: 40px;
    line-height: 40px;
    padding: 0 16px;

    font-weight: 300;
    font-size: 18px;

    color: $cl-white;
    background-color: $cl-svg-blue;

    .compound {
      font-weight: normal;
    }

    .target_lable {
      padding-left: 16px;
      padding-right: 16px;

      background-color: rgba($cl-word-bg, .2);
    }

    .target {
      position: relative;
      color: $cl-txt;
      font-weight: normal;
      background-color: $cl-word-bg;
      padding-left: 16px;
      padding-right: 16px;
      margin-right: 32px;
      // top: -4px;
      // line-height: 32px;
    }

    .target:after {
    	bottom: 100%;
    	left: 50%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    	border-color: transparent;
    	border-bottom-color: $cl-word-bg;
    	border-width: 8px;
    	margin-left: -8px;
    }
  }

  #words {
    box-sizing: border-box;
    margin: 0px;
    padding: 16px 0;
    // column-gap: 32px;
    // column-count: 4;
    font-size: 16px;
    background-color: $cl-white;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .empty {
      font-size: 18px;
      padding: 4px 16px;
      color: $cl-grey-400;
    }

    .box {
      box-sizing: border-box;
      display: table;
      // width: 25%;
      padding: 4px 16px;
      // text-align: right;

      & > div {
        display: table-cell;
        vertical-align:middle;

        &.word {
          box-sizing: border-box;
          background-color: $cl-grey-50;
          width: 98px;
          padding: 0 4px;
        }

        &.bar {
          position: relative;
          background-color: desaturate(lighten($cl-svg-blue, 50%), 30%);
          height: 100%;

          span.bar {
            display: block;
            height: 100%;
            background-color: $cl-svg-blue;
          }

          span.num {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left:0;
            background-color: rgba(0,0,0, 0.1);
            color: $cl-white;
            text-align: center;
            line-height: 24px;
          }
        }
      }

      &:hover, &.selected {
        & > div {
          &.word {
            background-color: $cl-word-bg;
          }

          &.bar {
            background-color: desaturate(lighten($cl-svg-blue, 40%), 20%);
            height: 100%;

            span.bar {
              background-color: $cl-svg-blue;
            }
            span.num {
              display: block;
            }
          }
        }
      }
    }
  }
}
