@import '../../../styles/variables';

:host {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  min-width: unit(14);
  margin: unit();

  background-color: $bg-color;

  @include md-elevation(1);

  .content {
    padding: unit();
    flex: 0 1 auto;

    & > * {
      margin-bottom: unit();
    }
  }
}
