<md-sidenav-layout>

  <router-outlet></router-outlet>

  <md-sidenav #sidenav
    (close)="closeSidenav()"
    [opened]="sidenavOpen$ | async">

    <div>ComPass</div>

    <a routerLink="/compounds" routerLinkActive="active">Compounds</a>
    <a routerLink="/settings" routerLinkActive="active">Settings</a>
    <button md-button (click)="sidenav.close()">Close</button>

  </md-sidenav>

</md-sidenav-layout>

<!-- DEBUG ngrx/store -->
<ngrx-store-log-monitor toggleCommand="ctrl-h" positionCommand="ctrl-m"></ngrx-store-log-monitor>
