<md-toolbar color="primary">
  <button class="menu-bt app-icon-button" (click)="openSidenav()">
    <i class="material-icons app-toolbar-menu">menu</i>
  </button>
  <div>{{currentComponent}}</div>
  <span class="app-toolbar-filler"></span>
</md-toolbar>

<md-sidenav-layout>

  <md-sidenav #sidenav
    (close)="closeSidenav()"
    [opened]="sidenavOpen$ | async">

    <div>ComPass</div>

    <button md-button (click)="navToDasboard()">Dashboard</button><br />
    <button md-button (click)="navToSettings()">Settings</button><br />
    <button md-button (click)="sidenav.close()">Close</button>

  </md-sidenav>

  <router-outlet></router-outlet>

</md-sidenav-layout>

<!-- DEBUG ngrx/store -->
<ngrx-store-log-monitor toggleCommand="ctrl-h" positionCommand="ctrl-m"></ngrx-store-log-monitor>
