:host {
  display: block;

  width: 100%;
  height: 100%;
}

md-sidenav-layout {
  height: 100%;
}

md-sidenav {
  width: 250px;
  padding: 16px;
}

:host {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.app-icon-button {
  margin: 8px 16px 8px 0;

  color: white;
}

md-toolbar {
  flex: 0 0 auto;
}

.content {
  flex: 1 1 auto;
  overflow-x: scroll;

  padding: 16px;
}
