<md-sidenav-layout>
  <router-outlet></router-outlet>

  <md-sidenav #sidenav
    (close)="closeSidenav()"
    [opened]="sidenavOpen$ | async">

    <h2>ComPass</h2>

    <a routerLink="/compounds"
       routerLinkActive="active"
       (click)="sidenav.close()">Compounds</a>

    <a routerLink="/settings"
       routerLinkActive="active"
       (click)="sidenav.close()">Settings</a>

  </md-sidenav>
</md-sidenav-layout>

<!-- DEBUG ngrx/store -->
<!--<ngrx-store-log-monitor toggleCommand="ctrl-h" positionCommand="ctrl-m"></ngrx-store-log-monitor>-->
