@import '../../../styles/variables';

:host {
  background-color: $bg-color;

  @include md-elevation(1);

  display: flex;

  .simScatter {
    flex: 1 1 auto;
    max-width: 75%;
  }

  .simHist {
    flex: 1 1 auto;
    max-width: 25%;
  }
}
