  <!-- Add similarity Scatter schart -->
  <div class='simScatter' *ngIf="binnedZhangReady$ | async">
    <app-similarity-scatter
      [settings]="settings"
      [binnedZhangData]="binnedZhangArray">
    </app-similarity-scatter>
  </div>

  <!-- Add similarity Histogram chart -->
  <div class='simHist' *ngIf="similarityHistogramReady$ | async">
    <app-similarity-histogram
      [settings]="settings"
      [similarityHistogramData]="similarityHistogramData">
    </app-similarity-histogram>
  </div>
