<div class="container">

  <!-- Add similarity Scatter schart -->
  <div class='simScatter' *ngIf="zhangReady$ | async">
    <app-similarity-scatter
      [settings]="settings"
      [zhangData]="zhangArray">
    </app-similarity-scatter>
  </div>

  <!-- Add similarity Histogram chart -->
  <div class='simHist' *ngIf="similarityHistogramReady$ | async">
    <app-similarity-histogram
      [settings]="settings"
      [similarityHistogramData]="similarityHistogramData">
    </app-similarity-histogram>
  </div>

</div>
