  <div *ngIf="annotatedPlatewellidsReady$ | async">
    <app-top-compounds-list
      [settings]="settings"
      [topPositiveCorrelations]="topPositiveCorrelations"
      [topNegativeCorrelations]="topNegativeCorrelations"
      [annotatedPlatewellids]="annotatedPlatewellids" >
    </app-top-compounds-list>
  </div>

  <!-- <strong>Positive</strong><br />
  <div *ngFor="let item of topPositiveCorrelations">
    {{item | json}}
  </div>
  <strong>Negative</strong>
  <div *ngFor="let item of topNegativeCorrelations">
    {{item | json}}
  </div><br />
  <strong>AnnotatedPlateWellids</strong>
  <div *ngIf="annotatedPlatewellidsReady$ | async">
    <div *ngFor="let item of annotatedPlatewellids">
      {{item | json}}
    </div>
  </div> -->
