@import '../../../styles/variables';

:host {
  z-index: 1;

  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

md-toolbar {
  @include md-elevation(3);

  background-color: md-color($primary);
}

.row {
  display: flex;
  align-items: stretch;

  margin: 0 unit();

  text-transform: capitalize;

  color: $primary-color-text;
}

.app-icon-button {
  margin: unit(.5) 0;
  padding: 0;

  cursor: pointer;
  user-select: none;

  color: $primary-color-text;
  border: none;
  background: none;
  box-shadow: none;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}
