:host {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

md-toolbar {
  background-color: darkslateblue;
}

.row {
  display: flex;
  align-items: stretch;

  margin: 0 16px;

  text-transform: capitalize;

  color: white;
}

.app-icon-button {
  margin: 8px 0;
  padding: 0;

  cursor: pointer;
  user-select: none;

  color: white;
  border: none;
  background: none;
  box-shadow: none;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}
