@import "../values";

$cl-bg: rgba(255, 255, 255, 0.15);

$s-jnj: 140px;
$s-border-radius: 4px;

:host {
  justify-content: center;
  align-items: stretch;

  .box {
    margin: 0 8px;

    .input {
      width: 100%;
      box-sizing: border-box;

      opacity: 0.5;
      color: #fff;
      background-color: $cl-bg;

      margin: 0;
      padding: 8px 8px 8px 44px;

      border-radius: $s-border-radius;

      font-size: 18px;
      font-weight: 300;

      text-transform: uppercase;

      &::placeholder {
        color: $cl-grey-200;
      }

      &::-webkit-calendar-picker-indicator {
        display: none;
      }

      &:focus {
        opacity: 0.8;
      }
    }

    datalist {
      border: 4px solid #389;
    }

    .icon {
      position: relative;

      core-icon {
        position: absolute;
        top: 8px;
        left: 12px;

        color: $cl-grey-100;
      }
    }

    .jnj {
      width: $s-jnj;
    }

    .gene {

    }

    &.toggle {
      .container {
        padding: 0 0 0 32px;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 64px;
        margin: 0;
        background-color: fade-out($cl-bg, 0.07);

        border-radius: $s-border-radius;
      }
    }

    &.toggle paper-toggle-button::shadow {
      .toggle-bar {
        background-color: #000000;
      }

      .toggle-button {
        background-color: #f1f1f1;
      }

      .toggle {
        background-color: $cl-300;
      }

      [checked] .toggle {
        // background-color: #0f9d58;
        background-color: $cl-grey-100;
      }

      .toggle-ink {
        //color: #bbb;
        color: $cl-a500;
      }

      [checked] .toggle-ink {
        //color: #0f9d58;
        color: $cl-white;
      }
    }
  }
}
